<!DOCTYPE html>
<html>
    <head>
    <title>{{submission_id}} result</title>
    </head>
    <body>
        <h1> Result for {{submission_id}}'s submission</h1>
        <p>{{problem_id}}: {{problem_title}}</p>
        <br>
        <p>Status:{{status}}</p>
        <br>
        <p>Language:{{language}}</p>
        <br>
        <p>Code: {{code}}</p>
        <br>
        <p>Input:<br>{{input}}</p>
        <br>
        <p>Output:<br>{{output}}</p>
        <br>
        <p>Expected Output:<br>{{expected_output}}</p>
    </body>

</html>